{% extends "base.html" %}
{% load staticfiles i18n%}

{% block content %}

<!-- header -->
        <div class="container-fluid bgWhite pb-5">
            <div class="row d-flex flex-row justify-content-around landingHeader mb-5">
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="pl-3 pt-2 "><h3 class="LandingMoto ">Find opportunities and mitigate risks with the richest company information</h3> </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12" id="laptop">
                    <div class="">
                      <img class="img-fluid mx-auto d-block" src="static/img/dummy/mac_screen_v2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
<!--end header -->
<!-- powerful tool -->
  <div class="container-fluid bg-inverse powerTool" >
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
              <img class="img-fluid" src="static/img/dummy/gather-data-01.png" alt="">
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12">
              <div class="pr-3 pt-2">
                  <h3 class="LandingMoto text-white">Powerful tool can help your team</h3>
              </div>
              <div class="pt-2">
                  <ul class="toolList text-white pl-0">
                      <li class="">Phising</li>
                      <li class="">Brute Force</li>
                      <li class="">Bucket Brigade</li>
                      <li class="">Server Breach</li>
                      <li class="">Password reuse attack</li>
                      <li class="">Password Breach</li>
                      <li class="">Keylogging</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

<!--end powerful tool -->

<!--Connect -->
  <div class="container-fluid bgWhite p-5">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-10">
                  <h2 class="">Connect</h2>
                  <span class="spanlines pull-left m-0"></span>
                  <ul  class="connectList mt-5 pl-0">
                      <li class=" pt-2 pb-2">
                          <div class="h2Heading pl-0"><i class="material-icons nice-blue pr-2 p-0 ">find_in_page</i>DueDil Connect</div>
                          <div class="h3Heading pt-2">Identify desicion-makers and leverage warm connections through mutually shared contacts, at companies across the Uk and Ireland.</div>
                      </li>
                      <li class=" pt-2 pb-2">
                          <div class="h2Heading"><i class="material-icons nice-blue pr-2 p-0 ">contact_mail</i>Contact information</div>
                          <div class="h3Heading pt-2">Access the information you need to reach out to businesses and individuals through social media profiles, direct mail, email or phone.</div>
                      </li>
                      <li class=" pt-2 pb-2">
                          <div class="h2Heading"><i class="material-icons nice-blue pr-2 p-0 ">supervisor_account</i>Director Profiles</div>
                          <div class="h3Heading pt-2">Undersand the directors behind a company, including nationality, date of birth and directorship history.</div>
                      </li>
                  </ul>
          </div>

          <div class="col-lg-5 col-md-5">
              <img class="imgConnect img-fluid" src="static/img/dummy/data-home_v2.png" alt="">
          </div>
      </div>
  </div>
<!-- end Connect -->
<!-- Sales marketing etc -->

<!-- end Sales marketing etc -->
<!-- footer -->
<footer class="darkBlueBG grey pt-5">
<div class="container">
<div class="row">
    <div class="col-12 col-sm-4 col-md-3">
        <a href="/" data-intent=" ">
            <div class="grey h2Heading footerLogo">Deal-Lookup</div>
        </a>
        <div class="pr-3">
            <p class="small">
                DueDil's Information Security Management System (ISMS) has been certified to the ISO 27001:2013 standard.
            </p>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
        <ul class="footerList">
            <li><a class="footerLinks " href="#" data-intent="click_press">Press Centre</a></li>
            <li><a class="footerLinks" href="#" data-intent="click_resources">Events &amp; Resources</a></li>
            <li><a class="footerLinks" href="#" data-intent="click_blog">Blog</a></li>
            <li><a class="footerLinks" href="#" data-intent="click_api">API</a></li>
            <li><a class="footerLinks" href="#" data-intent="click_help">Help</a></li>
            <li><a class="footerLinks" href="#" data-intent="click_report_data_error">Report Data Error</a></li>
            <li><a class="footerLinks" href="#">Find Companies</a></li>
        </ul>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
        <ul class="footerList">
            <li><a class=" footerLinks" href="#" data-intent="click_contact">Contact</a></li>
            <li><a class=" footerLinks" href="#" data-intent="click_legal">Legal</a></li>
            <li><a class=" footerLinks" href="#" data-intent="click_privacy">Privacy Policy</a></li>
            <li><a class=" footerLinks" href="#" data-intent="click_privacy_form">Privacy Request Form</a></li>
            <li><a class=" footerLinks" href="#" data-intent="click_careers">Careers</a></li>
            <li><a class=" footerLinks" href="#">Find Directors</a></li>
        </ul>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
        <ul class="">
            <li class="d-flex flex-row grey">
                <a class="d-flex h2Heading footerIcons" href="#" data-intent="click_facebook">
                    <i class="fa fa-facebook-square " aria-hidden="true"></i>
                </a>
                <a class="d-flex h2Heading footerIcons" href="#" data-intent="click_linkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <a class="d-flex h2Heading footerIcons" href="#" data-intent="click_twitter">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>
                <a class="d-flex h2Heading footerIcons" href="#" data-intent="click_google_plus">
                    <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                </a>
            </li>
            <li class="pb-0 mb-0">
                By using DueDil, you agree to our use of cookies.
                <a class="p-0 m-0 footerLinks" href="" data-intent="click_cookie_policy">Learn More</a>
            </li>
            <li class="pb-0 mb-0">
                <a class="p-0 m-0 footerLinks " href="http://thefounderspledge.org/" title="Join the Founder's Pledge" target="_blank" data-intent="click_founders_pledge">Join The Founder's Pledge</a></li>
            <li>
                <p class="">
                    © 2009-2017, DueDil Ltd, All Rights Reserved.
                </p>
            </li>
        </ul>
    </div>
</div>
</div>
</footer>

<!--end footer -->

{% endblock%}
