{% extends "admin/base_site.html" %}
{% load staticfiles i18n%}
{% load i18n admin_modify %}

{% block coltype %}colMS{% endblock %}

{% block title %}{% trans "Synchronization" %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo;
    {% trans "Synchronization" %}
</div>
{% endif %}{% endblock %}

{% block content %}
<div id="content-main">
<h1>{% trans "Synchronization" %}</h1>
<form method="post">
    {% csrf_token %}
    <!-- <br>{% trans 'Last synchro time' %}: {{ last }}. -->
    <input type="submit" name="update_search_sources_coops" value="{% trans 'Update search, soure, coo' %}"> <input style="background-color:#f0ad4e" type="submit" name="delete_search_sources_coops" value="{% trans 'Delete search, source, coo' %}">
    <br><br><input type="submit" name="update_properties" value="{% trans 'Update properties' %}"> <input style="background-color:#f0ad4e" type="submit" name="delete_properties" value="{% trans 'Delete properties' %}">
    <br><br><input type="submit" name="update_transactions" value="{% trans 'Update transactions' %}"> <input style="background-color:#f0ad4e" type="submit" name="delete_transactions" value="{% trans 'Delete transactions' %}">
    <br><br>
    <h3>{% trans "Geolocation" %}</h3>
    <br><input type="submit" name="search_areas" value="{% trans 'Search for new areas' %}">
    <br><br><input type="submit" name="add_pois" value="{% trans 'Add pois' %}">

    <!-- <br><br><input type="submit" name="reset" value="{% trans 'Reset synchronization' %}"
        onclick="return confirm('{% trans "All changes from last synchronization up to now will be forgotten and won't be synchronized in the future. Are you sure you want to proceed?" %}');"> -->
</form>
</div>
{% endblock %}
