{% extends "base.html" %}
{% load staticfiles i18n%}

{% block content %}

    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('{% static '/img/dummy/athens.png' %}');">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h1 style="color: #eee;" class="title">Find the best buy opportunities in Greece</h1>
                    </div>
                </div>
               <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="title" style="color: #eee;">Interested? </h2>
                            <h5 class="description" style="color: #eee;">
                            </h5>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
            </div>
        </div>

        <div class="main main-raised">
            <div class="container">
                <div class="section text-center section-landing">
                  <div class="features">

                    <div class="row">
                      <div class="col-md-5">
                          <div class="photo-container" style="max-width:400%">
                              <img src="{% static '/img/dummy/graph_zillow.png' %}">
                          </div>
                      </div>
                  <div class="col-md-6">

                      <br><br>
                      <!-- Some <br /> tags to push the text to align with the image, you can remove it if you have more text on the right side :-) -->

                      <h2 class="title">What we offer</h2>

                      <div class="info info-horizontal">
                          <div class="icon icon-primary">
                              <i class="material-icons">extension</i>
                          </div>
                          <div class="description">
                              <h4 class="info-title">Find the best</h4>
                              <p>Ranked properties from sale, based on the current prices, running costs and ROI through the local rent rates. ​</p>
                          </div>
                      </div>

                      <div class="info info-horizontal">
                          <div class="icon icon-primary">
                              <i class="material-icons">child_friendly</i>
                          </div>
                          <div class="description">
                              <h4 class="info-title">We have every greek auction on the market</h4>
                              <p>All current auctions with comparison to the local market rates​</p>
                          </div>
                      </div>

                      <div class="info info-horizontal">
                          <div class="icon icon-primary">
                              <i class="material-icons">watch_later</i>
                          </div>
                          <div class="description">
                              <h4 class="info-title">There is mathematics behind</h4>
                              <p>We source and analyse more than 10.000 posts and future auctions from the greek banks and the state. ​</p>
                          </div>
                      </div>
                  </div>
            </div>

        </div>
                </div>

            </div>

        </div>

{% endblock%}
