{% load crispy_forms_tags %}

<section class="wrapper-xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-inline">
          <div class="row">

            <div class="col-md-6">
            <a href="{% url 'auctionapp:commercial_list' %}">
              <button style="background-color: #818a91" class="btn btn-round btn-block">Commercial</button>
              </a>
            </div><!-- /.col -->

            <div class="col-md-6">
            <a href="{% url 'auctionapp:auction_list' %}">
              <button style="background-color: #818a91" class="btn btn-round btn-block">Auction</button>
              </a>
            </div><!-- /.col -->

          </div>
        </div>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<br>

<section class="wrapper-xs bg-highlight">
<div class="row">
   <div class="col-md-10 offset-md-1">
  <div class="card card-raised card-form-horizontal">
    <div class="content" style="padding: 5px;">


        <form action="#" id="AuctionForm" method="get" class="form-inline">

          <div class="row">
          {% crispy filter.form filter.helper %}

            <div class="col-md-2">
              <label class="control-label" for="">Ready?</label>
              <input type="submit" class="btn btn-primary btn-block btn-sm"></input>
            </div>
          </div>
        </form>
      </div>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>




<!--           <div class="col-md-3">
            <label class="control-label"  style="margin:0px" for="">Category:</label>
            <select class="selectpicker" name="category" form="AuctionForm" data-style="btn-simple  btn-sm btn-primary">
             {% for category in categories %}
                <option>{{category}}</option>
              {% endfor %}
              </select>
            </div>


           <div class="col-md-2">
            <label class="control-label"  style="margin:0px" for="">City:</label>
            <select class="selectpicker" name="status" form="AuctionForm" data-style="btn-simple btn-sm btn-primary">
            {% for city in cities %}
                <option>{{city}}</option>
              {% endfor %}

              </select>
            </div>
            -->
