<div class="d-flex flex-column ">
    <div class="  d-flex flex-column text-white pt-3 bgTopSidebar">
        <i class="d-flex  material-icons md-72 justify-content-center ;">account_circle</i>
        <h5 class="d-flex align-self-center pt-2">Spyros Savvidis</h5>
    </div>
    <div class="d-flex flex-column justify-content-center text-center pt-3">
        <h5 class="text-center bold">Profile Quality &#38; Stats</h5>
        <div class="d-flex inline-flex align-self-center p-0 m-0">
            <p class="right-border bold pr-1">Member Since</p>
            <p class="pl-1 m-0 em">Oct 0216</p>
        </div>
        <div class="d-flex inline-flex align-self-center p-0 m-0">
            <p class="right-border bold pr-1">Requested info</p>
            <p class="pl-1 m-0 em ">35</p>
        </div>
    </div>
<nav class="col-12 pt-3 ">
    <h5 class="text-center bold">Quick links</h5>
    <ul class="nav nav-pills flex-column sidebarNavList ">
        <li class=" pb-2 sidebarNavListBorderBottom">
            <a class="nav-link p-1 btn-block d-flex justify-content-around" href="#"><i class="material-icons p-0 m-0 ">account_box</i><span class="">Profile </span> <span class="sr-only">(current)</span></a>
        </li>
        <li class=" pt-2 pb-2 sidebarNavListBorderBottom">
            <a class="nav-link p-1 btn-block d-flex justify-content-around" href="#"><i class="material-icons  p-0 m-0">map</i>Portfolio</a>
        </li>
        <li class=" pt-2 pb-2 ">
            <a class="nav-link p-1 btn-block d-flex justify-content-around " href="#"><i class="material-icons  p-0 m-0">map</i>Region Reports<i class="material-icons p-0 m-0 ">account_box</i></a>
        </li>
    </ul>
    <h5 class="text-center pt-3">Live Updates</h5>
    <ul class=" flex-column updatesList">
        <li class="">News
            <div class="mb-2">
                <a class="" href="#">Property tax increased - capital.gr </a>
            </div>
        </li>
        <li class="">Messages
            <div class="mb-2">
                <a class=" " href="#">You have 1 new message</a>
            </div>
        </li>
        <li class="">News
            <div class="mb-2">
                <a class="" href="#">Property tax increased - capital.gr</a>
            </div>
        </li>
        <li class="">Messages
            <div class="mb-2">
                <a class="" href="#">You have 1 new message</a>
            </div>
        </li>
    </ul>
</nav>
</div>