
{% load staticfiles i18n%}


<div{% if not object.is_published %} class="unpublished" {% endif %}>
<div class="card card-plain card-blog">
<div class="row">
<div class="col-md-4">
<div class="card-image">
    <img class="img img-raised img-fluid" src="{% static 'img/bg2.jpeg' %}"/>
</div>
</div>
<div class="col-md-8">

<div class="content">


        <{{ header_tag|default:'h3' }}>
        <div class="card-title">
        <a href="{{ object.get_absolute_url }}">{{ object.headline|safe }}</a>
        </div>
        </{{ header_tag|default:'h3' }}>
 <p class="card-description">
{{ object.summary_html|safe }}
{% if not hide_readmore %}
<a class="link-readmore" href="{{ object.get_absolute_url }}">Read more</a>
{% endif %}
</p>
<span class="meta">
    Posted by <strong>{{ object.author }}</strong> on {{ object.pub_date|date:"F j, Y" }}
  </span>
</div>
</div>
</div>
</div>
</div>


